.container{
    display: flex;
    margin: 20px;
    padding: 20px;
     
}
.photo{
    width: 400px;
    height: 380px;
    border-radius: 100%;
}
.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
}
.divInfo{
    align-items: center;
    justify-content: center;
    margin-left: 100px;

}
.infoItem{
    font-size: 26px;
}